* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: transparent;
	color: white;
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #61122f;
}
#header-nav {
	position: relative;
	height: 100px;
	border-radius: 0;
	border: 0;
}
#header-nav .container {
	z-index: 10;
	height: auto;
	background-color: #f6b319;
	width: 100%;
}
#logo-img {
	background: url('../images/sidhu-logo2.png') no-repeat;
	height: 150px;
	width: 150px;
	margin: 10px;
}
.navbar-brand {
	padding-top: 14px;
}
.navbar-brand h1 {
	/*restaurant name*/

	font-family: 'Lora', serif;
	color: #557c3e;
	font-weight: bold;
	font-size: 1.8em;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 2;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}
.navbar-brand p span {
	vertical-align: middle;
	color: #000;
}
#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color: #951c49;
	text-align: center;
}
#nav-list a:hover {
	background: lightgray;
	border-radius: 40%;
}
#nav-list a span {
	font-size: 1.8em;
	color: green;
}
#phone {
	margin-top: 5px;
}
#phone a {
	text-align: right;
	padding-bottom: 0;
}
#phone div {
	color: #557c3e;
	text-align: right;
	padding-right: 15px;
}
.navbar-header button.navbar-toggle {
	clear: both;
}
#menu-tile,
#special-tile,
#map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
}
#menu-tile:hover,
#special-tile:hover,
#map-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
	background: url('../images/food1.jpg') no-repeat center;
}
#special-tile {
	background: url('../images/food2.jpg') no-repeat center;
}
#menu-tile span,
#special-tile span,
#map-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
.panel-footer {
	margin-top: 30px;
	padding-top: 35px !important;
	padding-bottom: 30px !important;
	background-color: #222 !important;
	border-top: 0px !important;
}
.panel-footer div.row {
	margin-bottom: 35px;
}
#hours > span,
#address > span {
	font-size: 1.3em;
}
#hours,
#address,
#testimonial {}
/*  END HOME PAGE   */

.category-tile {
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
}
.category-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.2em;
	background-color: #000;
	color: #fff;
	opacity: .8;
}
.category-tile:hover {
	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-category-title + div {
	margin-bottom: 50px;
	color: white;
}
#menu-category-title {
	color: white;
}
/*     End menu category Page  */

.menu-item-tile {
	margin-bottom: 25px;
}
.menu-item-tile hr {
	width: 80%;
}
.menu-item-tile .menu-item-price {
	text-align: right;
	margin-top: -15px;
	margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
	font-size: .6em;
}
.menu-item-photo {
	position: relative;
	border: 2px solid #3f0c1f;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 150px;
}
.menu-item-photo div {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #557c3e;
	text-align: center;
}
.menu-item-description {
	padding-right: 30px;
}
.menu-item-title {
	margin: 0 0 10px;
}
.menu-item-detail {
	font-size: .9em;
	font-style: italic;
}
/*   for Extra small devices     */

@media (max-width: 767px) {
	.navbar-brand {
		padding-top: 0;
		height: 10px;
		padding-bottom: 0;
	}
	.navbar-brand h1 {
		font-size: 5vw;
		color: #557c3e;
		margin-top: 3px;
	}
	.navbar-toggle{
		margin-top: 0;
	}
	.navbar-brand hp {
		font-size: .6em;
	}
	.navbar-brand p img {
		height: 20px;
	}
	#collapsable-nav a {
		font-size: 1.2em;
	}
	#collapsable-nav a span {
		margin-right: 5px;
		font-size: 1em;
	}
	#call-btn > a {
		font-size: 1.5em;
		display: block;
		mark: 0 20px;
		padding: 10px;
		border: 2px solid #fff;
		background-color: #f6b319;
		color: #951c49;
	}
	#xs-deliver {
		margin-top: 5px;
		font-size: .7em;
		letter-spacing: .1em;
		text-transform: uppercase;
		color: white;
	}
	.container .jumbotron {
		margin-top: 30px;
		padding: 0;
		box-shadow: 0 0 50px #3f0c1f;
		border: 2px solid #3f0c1f;
	}
	.container .jumbo {
		background: url('../images/ford.jpg') no-repeat center;
		height: 555px;
		padding: 0;
		box-shadow: 0 0 50px #3f0c1f;
		border: 2px solid #3f0c1f;
	}
	#menu-tile,
	#special-tile {
		width: 425px;
		margin: 0 auto 15px;
	}
	.panel-footer section {
		margin-bottom: 30px;
		text-align: center;
	}
	.panel-footer section:nth-child(3) {
		margin-bottom: 0;
	}
	.panel-footer section hr {
		width: 50%;
	}
	.menu-item-tile .menu-item-price {
		text-align: center;
	}
	.menu-item-descriptipn {
		text-align: center;
	}
	.menu-item-photo {
		margin-right: auto;
	}
}
/*    for super small devices like iphone4*/

@media (max-width: 479px) {
	#menu-tile,
	#special-tile {
		width: 280px;
		margin: 0 auto 10px;
	}
	.col-xxs-12 {
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		float: left;
		width: 100%;
	}
	.menu-item-tile .menu-item-price {
		text-align: center;
	}
	.menu-item-descriptipn {
		text-align: center;
	}
	.menu-item-photo {
		text-align: center;
	}
}
/*    for small devices*/

@media (min-width: 768px) {
	.navbar-brand h1 {
		font-size: 2em;
	}
	#logo-img{
		margin-top: -10px;
	}
	.container > .navbar-header{
		height: 100px;
	}
	.container .jumbotron {
		/*background: url("../images/Restaurant-main.jpg") no-repeat;*/
		/*background-size: 100% 100%;*/
		height: 555px;
		padding: 0;
		box-shadow: 0 0 50px #3f0c1f;
		border: 2px solid #3f0c1f;
	}
	.container .jumbo {
		background: url('../images/ford.jpg') no-repeat center;
		height: 555px;
		padding: 0;
		box-shadow: 0 0 50px #3f0c1f;
		border: 2px solid #3f0c1f;
	}
}
/*   for medium devices    */

@media (min-width: 992px) {
	.navbar-brand h1 {
		font-size: 1.8em;
	}
}
/*     for large devices    */

@media (min-width: 1200px) {
	.navbar-brand h1 {
		font-size: 1.8em;
	}
}