
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
     font-family: 'Oxygen', sans-serif;
	font-size:2em;
	color: darkgreen;
	background-color: gray;
}
header{
	background-color: white;
	padding:10px;
}
header img{
	float: left;
	background-color: white;
	padding:10px;
}